/* general */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 80%;
    margin: auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* debug */
.debug .headcontent{
    height: 80px;
    margin-top: 20px;
    background-color: blueviolet;
}
.debug .pt1{
    height: 300px;
    background-color: blue;
}
.debug .title{
    height: 60px;
    background-color: cornflowerblue;
}
.debug .sideline, .debug .centraline{
    height: 400px;
    background-color: cornflowerblue;
}
.debug #foot{
    height: 30px;
    background-color: purple;
}
/* header */
.headcontent{
    background-color: blueviolet;
    width: 100%;
}
/* main */
.pt1{
margin: 20px 0;
}

.sideline{
    width: 15%;
    float: left;
    margin-top: 10px;
}
.centraline{
    width: 68%;
    float: left;
    margin: 10px 1%;
}
/* footer */
#foot{
margin-bottom: 10px;
}