/* general */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 80%;
    margin: auto;
    font-family: montserrat;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* debug */
.debug .title{
    height: 60px;
    background-color: cornflowerblue;
}
.debug .sideline, .debug .centraline{
    height: 400px;
    background-color: cornflowerblue;
}
.debug #foot{
    height: 30px;
    background-color: purple;
}
/* header */
.headcontent{
    width: 100%;
}
header img{
    width: 8rem;
    display: block;
}
.navbar{
    float: left;
    margin-top: 2rem;
    color: rgb(192, 192, 192);
}
.navbar > div{
    float: left;
    margin-right: 1rem;
}
/* main */
.pt1{
margin: 5rem 0;
background-image: url(./img/banner.jpg);
background-size: cover;
height: 52rem;
border-radius: 1rem;
filter: brightness(0.8);
}
.txt1{
    display: inline-block;
    width: 60%;
    font-size: 2.5rem;
    padding: 4rem;
    margin-top: 33rem;
    color: white;
}
}

/* /.pt1 */
.sideline{
    width: 15%;
    float: left;
    margin-top: 10px;
}
.centraline{
    width: 68%;
    float: left;
    margin: 10px 1%;
}
/* footer */
#foot{
margin-bottom: 10px;
}